@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    background: url('/public/images/fondopantalla.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(3px); /* Aplica un desenfoque de 5px a la imagen de fondo */
    position: absolute; /* Coloca el pseudo-elemento encima del contenido del cuerpo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del cuerpo */
}

.login-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container .logo {
    width: 100px;
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 10px;
    color: #333;
}

.login-container p {
    color: #666;
    margin-bottom: 20px;
}
.formulario-login{
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group i {
    position: absolute;
    top: 36px;
    left: 10px;
    color: #999;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.login-container a {
    color: #5cb85c;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}